{{define "domainview"}}
	<html>
		{{template "header"}}
		<body>
			{{template "menu" (index . "user")}}
			<div class="header">
				<br>
				<p>Results of searching for domains</p>
			</div>

			<hr>

			<h2>Results for domain <i>{{ (index . "domain") }}</i> (Total domains permutated: <i>{{ index . "total"}})</i></h2>

			<hr>

			<h2>Domains</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Domain</th>
						<th>Type</th>
						<th>Available</th>
						<th>Success rate</th>
					</tr>
				</thead>
				<tbody>
				{{ range (index . "domains").Domains }}
					<tr><td>{{ .Name }}</td><td>{{ .Type }}</td><td>[ {{ range .Available }}{{ . }} {{end}}]</td><td><center> {{ printf "%.2f" .SuccessRate }}</center></tr>
				{{ end }}
				</tbody>
			</table>	

			<hr>

			{{template "footer"}}
		</body>
	</html>
{{ end }}
