{{define "domainview"}}
	<html>
		{{template "header"}}
		<body>
			{{template "menu"}}
			<div class="header">
				<br>
				<p>Results of searching for domains</p>
			</div>

			<hr>

			<h2>Results for domain <i>{{ (index . "domain") }}</i></h2>

			<hr>

			<h2>Domains</h2>
			<table>
				<tr><th>Domain</th><th>Type</th><th>Available</th></tr>
				{{ range (index . "domains").Domains }}
					<tr><td>{{ .Name }}</td><td>{{ .Type }}</td><td>[{{ range .Available }}{{ . }}, {{end}}]</td></tr>
				{{ end }}
			</table>	

			<hr>

			{{template "footer"}}
		</body>
	</html>
{{ end }}
