{{define "domain"}}
	<html>
		{{template "header"}}
		<body>
			{{template "menu"}}
			<div class="header">
			<br>
			<p>Search available domains</p>
			</div>

			<hr>

			<h2>Domains</h2>

			<p>Type in your domain to search for similar ones</p>

			<form class="register" action="/domain" method="POST">
				<p>
				<label for="domain" class="form-register-label" autocomplete="off">Domain:</label>
				<input name="domain" type="text"/><br>
				<label for="number" class="form-register-label" autocomplete="off">Number of domains:</label>
				<input name="number" type="text" value="10"/>
				</p>
				<input type="checkbox" name="all" value="all"/>
				<label for="all">all</label><br>
				<input type="checkbox" name="bitsquatting" value="bitsquatting"/>
				<label for="bitsquatting">Bitsquatting</label><br>
				<input type="checkbox" name="vowels" value="vowels"/>
				<label for="vowels">Vowels</label><br>
				<input type="checkbox" name="repetition" value="repetition"/>
				<label for="repetition">Repetition</label><br>
				<input type="checkbox" name="omission" value="omission"/>
				<label for="omission">Omission</label><br>
				<input type="checkbox" name="homograph" value="homograph"/>
				<label for="homograph">Homograph</label><br>
				<input type="checkbox" name="hyphenation" value="hyphenation"/>
				<label for="hyphenation">Hyphenation</label><br>
				<p>
				<button class="btn btn-lg btn-primary btn-block middel loady" type="submit">Search</button>
				</p>
			</form>

			<hr>
		</body>
		{{template "footer"}}
	</html>
{{end}}
