{{define "domainview"}}
	<html>
		{{template "header"}}
		<body>
			<h1>decipiat</h1>
			{{template "menu"}}
			<div class="header">
				<br>
				<p>Results of searching for domains</p>
			</div>

			<hr>

			<h2>Results for domain <i>{{ index . "domain" }}</i></h2>

			<table>
				<tr><th>Registered Domains</th><tr>
				{{ range (index . "domains").Available }}
				<tr><td>{{ . }}</td></tr>
				{{ end }}
			</table>

			<hr>
			
			<table>
				<tr><th>Random Domains</th><tr>
				{{ range (index . "domains").All }}
				<tr><td>{{ . }}</td></tr>
				{{ end }}
			</table>

			<hr>

			

			{{template "footer"}}
		</body>
	</html>
{{ end }}
