{{define "domain"}}
	<html>
		{{template "header"}}
		<body>
			{{template "menu" (index . "user")}}
			<div class="header">
			<br>
			<p>Search available domains</p>
			</div>

			<hr>

			<h2>Domains</h2>

			<p>Type in your domain to search for similar ones. This domain will be used as a Redirect Domain in your phishing campaign.</p>

			<form class="register" action="/domain" method="POST">
				<p>
				<label for="domain" class="form-register-label">Domain:</label>
				<input name="domain" type="text"/>
				</p>

				<p>
				<label for="number" class="form-register-label">Number of domains:</label>
				<input name="number" type="text" value="10"/>
				</p>

				<hr style="width: 100%">

				<p>
				<label class="form-checkbox" for="all">Generate All</label>
				<input type="checkbox" name="all" value="all"/>
				</p>
				<p>
				<label class="form-checkbox" for="bitsquatting">Bitsquatting</label>
				<input type="checkbox" name="bitsquatting" value="bitsquatting"/>
			</p>
			<p>
				<label class="form-checkbox" for="vowels">Vowels</label>
				<input type="checkbox" name="vowels" value="vowels"/>
			</p>

			<p>
				<label class="form-checkbox" for="repetition">Repetition</label>
				<input type="checkbox" name="repetition" value="repetition"/>
			</p>

			<p>
				<label class="form-checkbox" for="omission">Omission</label>
				<input type="checkbox" name="omission" value="omission"/>
			</p>

			<p>
				<label class="form-checkbox" for="homograph">Homograph</label>
				<input type="checkbox" name="homograph" value="homograph"/>
			</p>
			<p>
				<label class="form-checkbox" for="hyphenation">Hyphenation</label>
				<input type="checkbox" name="hyphenation" value="hyphenation"/>
			</p>
			<p>
				<button class="btn btn-lg btn-primary btn-block middel loady" type="submit">Search</button>
			</p>
			</form>

			<hr>
		</body>
		{{template "footer"}}
	</html>
{{end}}
