{{define "home"}}
	<html>
		{{template "header"}}	
		<body>
			{{template "menu"}}
			<pre><code>Phishing-as-a-Service platform for professionals.</code></pre>

			<a href="https://github.com/duraki/decipiat" target="_blank">by Halis D., Erhad H.</a>

			<header id="header">

    </header>

			<div class="header">
			<p>Welcome to <code>decipiat</code> a Phishing-as-a-Service platform. </p> <p>We built this platform to help you rise security awareness by executing professional phishing campaings. Built for cybersecurity experts and companies alike.

			<br><br>

			<p>Want to see <a href="/about">more</a> what we work on?
			</div>

			<hr>

			<h2>Users</h2>

			<p>Create a new organizational account or login to existing account: &nbsp; <a href="/register">Register</a> | <a href="/login">Login</a></p>
			<font class="notice">user registration is completely free*</font>

			<hr>

			<h2>See more</h2>

			<hr>

			<h2>FAQ</h2>

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 

		{{template "footer"}}
		</body>
	</html>
{{end}}