{{define "login"}}
	<html>
		{{template "header"}}	
		<body>
			{{template "menu"}}

			<div class="header">
			<br>
			<p>Welcome back, master. 
			</div>

			<hr>

			<h2>Users Login</h2>

			<p>Create a new organizational account or login to existing account: &nbsp; <a href="/register">Register</a> | <a href="/login">Login</a></p>

			<form class="register" action="/login" method="POST">
			  <p>
			    <label for="email" class="form-register-label">Email:</label>
			    <input name="email" type="text">
			  </p>
			  <p>
			    <label for="password" class="form-register-label" autocomplete="off">Password:</label>
			    <input name="password" type="password">
			  </p>
			  <p>
			  	<button class="btn btn-lg btn-primary btn-block middel loady" type="submit">Login</button>
			  </p>
			</form>

			<hr>

			<h3>Forgot your password</h3>
			<p>Lorem impsum ...</p>

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 

			{{template "footer"}}
		</body>
	</html>
{{end}}