{{define "login"}}
	<html>
		{{template "header"}}	
		<body>
			<h1>decipiat</h1>
			{{template "menu"}}
			<!-- <pre><code>Phishing-as-a-Service platform for professionals</code></pre> -->

			<!-- <header id="header"> -->

			<div class="header">
			<br>
			<p>Welcome back, master. 
			</div>

			<hr>

			<h2>Users Login</h2>

			<p>Create a new organizational account or login to existing account: &nbsp; <a href="/register">Register</a> | <a href="/login">Login</a></p>

			<form class="register">
			  <p>
			    <label for="a" class="form-register-label">Username:</label>
			    <input id="a" type="text">
			  </p>
			  <p>
			    <label for="b" class="form-register-label">Password:</label>
			    <input id="b" type="text">
			  </p>
			  <p>
			  	<button class="btn btn-lg btn-primary btn-block middel loady" type="submit">Login</button>
			  </p>
			</form>

			<hr>

			<h3>Forgot your password</h3>
			<p>Lorem impsum ...</p>

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 

			{{template "footer"}}
		</body>
	</html>
{{end}}