{{define "register"}}
	<html>
		{{template "header"}}	
		<body>
			<h1>decipiat registration</h1>
			{{template "menu"}}
			<!-- <pre><code>Phishing-as-a-Service platform for professionals</code></pre> -->

			<!-- <header id="header"> -->

			<div class="header">
			<br>
			<p>It seems you are interested in our platform for both adversary teams? Enjoy your free account and explore the possibilities when it comes to advanced phishing. As a pentester, we believe this tool will be helpful to your penetration testing scope and execution. Feel free to register an account and enjoy our possibilities. Hack to (c)(h)(a)lle(n)(g)(e). See <a href="#demos">demos</a> for possible offer. 

			<br><br>

			<p>Want to <a href="/read">read</a> how to use it?
			</div>

			<hr>

			<h2>Users Registration</h2>

			<p>Create a new organizational account or login to existing account: &nbsp; <a href="/register">Register</a> | <a href="/login">Login</a></p>
			<font class="notice">user registration is completely free*</font>

			<form class="register">
			  <p>
			    <label for="a" class="form-register-label">Username:</label>
			    <input id="a" type="text">
			  </p>
			  <p>
			    <label for="b" class="form-register-label">Password:</label>
			    <input id="b" type="text">
			  </p>
			  <p>
			  	<button class="btn btn-lg btn-primary btn-block middel loady" type="submit">Sign Up</button>
			  </p>
			</form>

			<hr>

			<h3>Forgot your password</h3>
			<p>Lorem impsum ...</p>

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 
		</body>
	</html>
{{end}}