{{define "register"}}
	<html>
		{{template "header"}}	
		<body>
			<h1>decipiat registration</h1>
			{{template "menu"}}
			<pre><code>Phishing-as-a-Service platform for professionals</code></pre>

			<a href="https://github.com/duraki/decipiat" target="_blank">by Halis D., Erhad H.</a>

			<!-- <header id="header"> -->

			<div class="header">
			<br>
			<p>It seems you are interested in our platform for both adversary teams? Enjoy your free account and explore the possibilities when it comes to advanced phishing. We built this tool from ground-up and as a long time pentesters, we believe it's normal to have something that acts upon your challenges. See demos for possible offer. 

			<br><br>

			<p>Want to <a href="/read">read</a> how to use it?
			</div>

			<hr>

			<h2>Users Registration</h2>

			<p>Create a new organizational account or login to existing account: &nbsp; <a href="/register">Register</a> | <a href="/login">Login</a></p>
			<font class="notice">user registration is completely free*</font>

			<form class="register">
			  <p>
			    <label for="a" class="form-register-label">Username:</label>
			    <input id="a" type="text">
			  </p>
			  <p>
			    <label for="b" class="form-register-label">Password:</label>
			    <input id="b" type="text">
			  </p>
			</form>

			<hr>

			<h3>Forgot your password</h3>
			<p>Lorem impsum ...</p>

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 
		</body>
	</html>
{{end}}