{{define "project_create"}}
	<html>
		{{template "header"}}	
		<body>
			<h1>decipiat [ lat. <i>dēcipiat</i> ]</h1>
			{{template "menu"}}
			<code style="padding: 0px;"><pre>Welcome back.<br>Logged-in as <strong>{{index . "email"}}</strong>.</pre></code>

			<h2>Create a new project</h2>

			<hr>

			<div class="project-basics">
				<div class="leftier">
				<form class="register" action="/project/new" method="POST">
				  <p>
				    <label for="name" class="form-register-label" autocomplete="off">Project Name:</label>
				    <input name="name" type="text">
				  </p>
				  <p>
				    <label for="identifier" class="form-register-label" autocomplete="off">Project Identifier:</label>
				    <input name="identifier" type="text">
				  </p>
				  <p>
				  	<button class="btn btn-lg btn-primary btn-block middel loady" type="submit">Create Project</button>
				  </p>
				</form>
				</div>

				<div class="rightier">
					<p class="smaller-details-title">Enter elementary details.</p>
					<div class="smaller-details">
						<p><strong>Project Name</strong> - This is how we will name your Project.</p>
						<p><strong>Project Identifier</strong> - An internal Project Identifier for personal purposes.</p>
					</div>
				</div>
			</div>

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 

		{{template "footer"}}
		</body>
	</html>
{{end}}