{{define "project_list"}}
	<html>
		{{template "header"}}	
		<body>
			{{template "menu" (index . "user")}}
			{{template "loggedin" (index . "user").Email}}

			<h2>Project List</h2>

			<ul>

			{{range (index . "projects")}}
				<li><a href="/project/view/{{ .CpvUuid }}">{{ .Name }}</a> - <code>{{ .CpvUuid }}</code> / <code>{{ .ID }}</code> </li>
			{{end}}

			</ul>

			{{template "dashlinks"}}

			<!-- add landing page grid here -->
			<!-- add bullets -->
			<!-- and more importantly -->
			<!-- add Content!!! --> 

		{{template "footer"}}
		</body>
	</html>
{{end}}