@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  height: 100%;
  box-sizing: border-box;
}

.template {
  background: #f2f2f2;
  color: black;
  padding: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* centering the content fixed */
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: #efefef;
  text-align: center;
  font-size: 13px;
  opacity: 0.8;
}

.notice {
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-style: italic;
  color: #625b5b;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

.header {
	padding-top: 20px;
}

.header:hover {
	color: #000;
}

.register {
	padding-top: 20px;
	line-height: 2;
	background: #f2f1f1;
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.form-register-label {
	padding-right: 15px;
	font-family: 'Monaco', 'Courier';
}

header {
  background-color: #263d36;
  background-image: url("/assets/img/craft.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;

    /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.milka 
{
	background: #f2e7af;
	font-size: 20px;
	line-height: 14px;
	letter-spacing: 0.09em;
	font-weight: 500;
	font-style: normal;
}

hr {
	border-color: #965b35;
	border-width: 0.1px;
	opacity: 30%;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

/* custom form btn */
.reg-btn {
	font-size: 17px;
	line-height: 1.8;
	letter-spacing: 0.029em;
	font-style: normal;
	font-variation-settings: "opsz" 19.8999938964844;
	font-weight: 409;
}

.other-buttons {
  background: #f2e7af;
  color: black;
  font-style: normal;
  padding: 5px;
  border: 0px solid;
  text-decoration: none;
  border-radius: 7px;
  font-size: medium;
}

.other-buttons:hover {
  background: #000;
  color: white;
  font-style: normal;
  padding: 5px;
  border: 0px solid;
  text-decoration: underline;
  border-radius: 7px;
  font-size: medium;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button, input {
	line-height: normal;
}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button.middel{
	background: green;
	height: 100%;
	display: block;
	border-radius: 3px;
	border: green solid thin;
	opacity: 0.5;
	color: white;
	font-size: 15px;
	line-height: 1.4;
	letter-spacing: 0.026em;
	font-style: italic;
	font-variation-settings: "opsz" 19.8999938964844;
	font-weight: 491;
}

.user_links:hover {
	background: black;
	color: white;
}

.checkbox {
  font-weight: normal;
}

.alert {
	background: black;
	color: white;
	padding: 10px;
}

.leftier {
	float: left;
	padding-right: 30px;
}

.rightier {
	margin-left: 50%;
	padding-top: 20px;
/*margin-right: 10px;*/
}

.smaller-details-title {
	color: #000;
}

.smaller-details {
	font-size: 12px;
	color: #666;
}

.info-project {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.005em;
  font-weight: 400;
  width: 90%;
  color: #000;
}

.project-view-info {
  font-weight: 300;
  font-style: normal;
  margin-top: 10px;
  font-size: 12px;
  color: #a0a0a0;
  display: block;
  width: 80%;
  line-height: 17px;
  padding-bottom: 10px;
}

.mini-buttons {
  background: black;
  color: white;
  font-style: normal;
  padding: 1px;
  border: 0px solid;
  text-decoration: none;
  border-radius: 3px;
  font-size: 10px;
}

.form-checkbox {
  color: black;
  font-size: 13px;
}

.mini-buttons:hover {
  background: black;
  color: white;
  font-style: normal;
  padding: 1px;
  border: 0px solid;
  text-decoration: underline;
  border-radius: 3px;
  font-size: 10px;
}

#table {
  border: 1px solid #dbdce2;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 2px #d1d1d1;
  background: #f2f3f6;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 5px;
}
#table header {
  background: #f2f3f6;
  font-size: 12px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dbdce2;
  color: #555;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
#table header:after {
  content: " ";
  clear: both;
}
#table header span {
  padding: 10px;
  display: block;
  float: left;
}
#table header ul {
  display: block;
  padding: 0;
  margin: 0;
  float: right;
  border-left: 1px solid #fff;
}
#table header ul li {
  float: left;
  border-left: 1px solid #dbdce2;
  border-right: 1px solid #fff;
}
#table header ul li:last-child {
  border-right: 0;
}
#table header ul li a {
  display: block;
  padding: 10px;
  color: #535767;
}
#table header ul li a:hover {
  color: #222;
}

.table {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 100%;
}
.table tbody tr td {
  background: #fff;
  border-bottom: 1px solid #ebecef;
  font-size: 14px;
  padding-left: 10px;
  color: #64687b;
  font-family: "Tahoma", Arial;
}
.table thead tr:first-child th {
  border-top: 1px solid red;
}
.table thead tr th {
  background: #f2f3f6;
  padding: 10px 10px 10px 10px;
  font-family: Arial;
  font-size: 10px;
  text-transform: uppercase;
  color: #767d94;
  font-weight: bold;
}

.table > thead:first-child > tr:first-child > th {
  border-top: 1px solid #fff;
}

.table > thead > tr > th {
  border-bottom: 1px solid #dbdce2;
}

/** c o l o r -- tablelist */
/**
 * Primary color: #e81c4f
 * Secondary color(s): ;
 */

/* todo: text selection bg pink fg = black or smt */
/* todo: add big header from the readme */